kebechet.managers.pipfile\_requirements package
===============================================

Submodules
----------

kebechet.managers.pipfile\_requirements.pipfile\_requirements module
--------------------------------------------------------------------

.. automodule:: kebechet.managers.pipfile_requirements.pipfile_requirements
   :members:
   :undoc-members:
   :show-inheritance:

Module contents
---------------

.. automodule:: kebechet.managers.pipfile_requirements
   :members:
   :undoc-members:
   :show-inheritance:
